html {
  background-color: Lavender;
}

body {
  display: flex;
  justify-content: center;
}

.navbar-inverse {
  background-color: #B2628D;
}

div.bodyHeader {
  padding: 1em;
  background-color: white;
}

div.userinputs {
  margin: 2em;
}

.inputs {
  display: flex;
  flex-direction: row;
}

div.subHeader {
  padding: 1em;
  background-color: white;
}


h2.tagline {
  text-align: center;
  color: #FFCCE7;
}

div.jumbotron {
  margin-top: 6em;
  background-color: #B2628D;
  color: #FFE6F3;
}

.brains {
  text-align: center;
}

div.row.row-offcanvas.row-offcanvas-right {
  display: flex;
  justify-content: center;
  background-color: white;

}

.contentContainer {
  display: flex;
  justify-content: center;
}

.newName {
  margin-bottom: 2em;
}

#personButton {
  margin: .5em;
}

#addFreshMeat {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.saveSkin {
  margin: .5em;
}

button.btn.btn-default.updateButton {
  margin: 1em;
}

.deleteSaveButtons {
  background-color: Red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #96B284;
  color: #E9FFE2;
}

div.col-xs-6.col-lg-4 {
  float: none;

}

#tableContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 4em;
  margin-top: 4em;
}

.columns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

div.currentInputs {
  display: flex;
  flex-direction: row;

}

.meatName {
  padding-right: 3em;
  background-color: #FFCCE7;
}

div.column1 {
  padding-right: 6em;
  background-color: #FFCCE7;
}

div.column2 {
  padding-left: 6em;
  background-color: #FFCCE7;
}

#tableUpdate {
  background-color: #E9FFE2;
  color: #96B284;

}

div.col-xs-6.col-lg-4 {
  text-align: center;
}
